.shops {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .shopchild {
        width: 1300px;
        overflow: hidden;
        .box {
            width:232px;
            height:322px;
            position:relative;
            float:left;
            margin: 12px 3px;
            dl {
                float: left;
                width: 230px;
                border: 1px solid #f5f5f5;
                height: 322px;
//              padding-bottom:10px;
                left:0 ;
                top:0;
                float:left;
                position:absolute;
                dt {
                    a {
                        display: block;
                        img {
                            margin: 5px auto 0;
                        }
                    }
                }
                dd {
                    line-height: 24px;
                    &.imgsmall {
                        display:none;
                        height: 37px;
                        width: 230px;
                        margin-top:18px;
                        position:relative;
                        span{
                            position:absolute;
                            width: 6px;
                            height:37px;
                            display:none;
                            background:url(../images/list.png) no-repeat;
                            &.left{
                                left:12px;
                                background-position:-359px -208px;
                                float:left;
                            }
                            &.right{
                                left:210px;
                                background-position:-375px -208px;
                                float:right;
                            }
                        }
                        .small{
                            width:166px;
                            height:37px;
                            margin:0 auto;
                            overflow:hidden;
                            float:left;
                        }
                        ul{
                            width:200px;
                            height:37px;
                            position:absolute;
                            left:32px;
                            li{
                                width:35px;
                                height:35px;
                                border:1px solid #F5F5F5;
                                float:left;
                                margin-right:6px;
                                img{
                                    width:35px;
                                    height:35px;
                                }
                            }
                        }
                        
                    }
                    &.price {
                        margin-top: 8px;
                        padding-left: 16px;
                        i {
                            width: 10px;
                            padding-top: 2px;
                            height: 16px;
                            font-size: 12px;
                            display: block;
                            float: left;
                            color: #cc0000;
                        }
                        span {
                            font-size: 16px;
                            display: block;
                            float: left;
                            color: #cc0000;
                            margin-right: 10px;
                        }
                        del {
                            color: #999999;
                            font-size: 12px;
                        }
                        a {
                            background: #d93c50;
                            display: block;
                            width: 40px;
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                            float: left;
                            margin-top: 4px;
                        }
                    }
                    &.title {
                        color: #404040;
                        margin-left: 12px;
                        width: 202px;
                        overflow: hidden;
                        a {
                            display: block;
                            width: 420px;
                            height: 24px;
                            i {
                                font-size: 12px;
                                float: left;
                                display: block;
                            }
                            span {
                                font-size: 12px;
                                float: left;
                                display: block;
                                width: 168px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    &.shop {
                        padding-left: 12px;
                        font-size: 12px;
                        color: #999999;
                        text-decoration: underline;
                        a {
                            display: block;
                            width: 186px;
                        }
                    }
                }
            }
        }
    }
}
