body,html,div,dl,dt,dd,ul,li,form,i,span,p,input,h1,h2{margin: 0;padding:0;}
h1,h2,h3,h4,strong,b,i{font-weight:normal;font-style: normal;}

ul{list-style-type:none}
img,span,i,b,a{display: block;}
a{font-size:12px;color:#333333;text-decoration: none;}